@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  padding: 0%;
  margin: 0%;
}

.navbar {
  z-index: 100;
  height: auto;
  font: normal normal 500 1rem/1.2rem Poppins;
}

.navbar #brandlogo {
  width: 40px;
}

.navbar .nav-link {
  color: white !important;
  border-radius: 4px;
  margin-left: 10px;
}

.navbar .nav-link:hover {
  background-color: #d60b3c;
  -webkit-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.heading {
  font: normal normal 700 2.5rem/3rem Poppins;
  text-align: center;
}

.sub-heading {
  font: normal normal 600 1.5rem/2rem Poppins;
}

.normal-text {
  font: normal normal 500 1rem/1.2rem Poppins;
}

.color-words {
  color: #1e4292;
}

button {
  color: white !important;
  background-color: #d60b3c !important;
}

.hover-item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 230px;
}

.hover-item:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
}

@media (max-width: 992px) {
  .mobileMenu {
    z-index: 99;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
  }
  .mobileMenu.onRight {
    left: auto;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .mobileMenu.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .overlay {
    z-index: 98;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  .overlay.open {
    display: block;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#section_1 {
  margin-top: 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section_1 #text-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section_1 #video_player {
  width: 100%;
  max-width: 600px;
}

#section_1 .heading {
  gap: 3em;
  font: normal normal 800 2.5rem/3rem Poppins;
}

#section_1 .card {
  border-radius: 0 20px 20px 0;
  border: none;
  width: 220px;
  max-height: 140px;
}

#section_1 .card-body {
  padding: 20px 0px;
}

#section_1 .card-img {
  max-width: 60px;
  min-width: 50px;
}

#section_1 .card-text {
  text-align: center;
  color: #4b4b4b;
  font: normal normal 600 1rem/1.2rem Poppins;
  min-width: 8em;
}

#section_2 .card {
  min-width: 200px;
  border: none;
}

#section_2 #text-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section_2 #image-1 {
  width: 100%;
  max-width: 470px;
}

#section_2 .card-img {
  max-width: 80px;
  min-width: 55px;
}

#section_2 #row_circle #text {
  font: normal normal 600 2rem Poppins;
}

#section_2 #row_circle .card {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section_2 #row_circle .card .card-img-top {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#section_2 #row_circle .card-body {
  padding: 0px;
  text-align: center;
}

#section_2 #row_circle .card-body .card-title {
  margin: 0px;
  color: #1e4292;
  font: normal normal 600 1rem Poppins;
}

#section_2 .circle {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

#section_2 .circle img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#section_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section_3 .card {
  border: none;
}

#section_3 button {
  width: 200px;
}

#section_3 #video_player {
  width: 100%;
  max-width: 600px;
}

#section_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section_4 button {
  width: 200px;
}

#section_4 #video_player {
  width: 100%;
  max-width: 600px;
}

#section_5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section_5 button {
  width: 200px;
}

#section_5 #video_player {
  width: 100%;
  max-width: 600px;
}

#section_6 img {
  width: 50%;
}

#section_6 .card {
  width: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

#section_6 .card-body {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section_6 .card-body .card-title {
  margin: 0px;
  color: #1e4292;
  font: normal normal 600 1rem Poppins;
}

#section_7 img {
  width: 50%;
}

#section_7 .card {
  width: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

#section_7 .card-body {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section_7 .card-body .card-title {
  margin: 0px;
  color: #1e4292;
  font: normal normal 600 1rem Poppins;
}

#section_8 img {
  width: 50%;
}

#section_8 .card {
  width: 10em;
  border: none;
}

#section_8 .card img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#section_8 .card-body {
  padding: 0px;
  text-align: center;
}

#section_8 .card-body .card-title {
  margin: 0px;
  color: #1e4292;
  font: normal normal 600 1rem Poppins;
}

#section_9 #cover_card {
  border: none;
}

#section_9 #image_bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
}

#section_9 #inner_card {
  border: none;
}

#section_9 #inner_card .card-title {
  color: #1e4292;
  font: normal normal 800 20px Poppins;
  margin: none;
}

#section_9 #inner_card .card-text {
  color: #1e4292;
  font: normal normal 500 15px Poppins;
  margin: none;
}

#section_9 .circle {
  position: relative;
  height: 90%;
  overflow: hidden;
  border-radius: 50%;
  background-color: black;
}

#section_9 .circle img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#section_10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section_10 button {
  width: 250px;
}

#section_10 #video_player {
  width: 100%;
  max-width: 600px;
}

#section_10 #cover_card {
  border: none;
}

#section_10 #image_bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
}

#section_10 #inner_card {
  border: none;
}

#section_10 #inner_card .card-title {
  color: #1e4292;
  font: normal normal 800 20px Poppins;
  margin: none;
}

#section_10 #inner_card .card-text {
  color: #1e4292;
  font: normal normal 500 15px Poppins;
  margin: none;
}

#section_10 .circle {
  position: relative;
  height: 90%;
  overflow: hidden;
  border-radius: 50%;
  background-color: black;
}

#section_10 .circle img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=styles.css.map */