@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$blue: rgb(30, 66, 146);
$red: rgb(214, 11, 60);
$white: rgb(239, 244, 246);
$grey: rgb(75, 75, 75);
$color1: rgb(254, 197, 161);
$color2: rgb(241, 212, 212);
$color3: rgb(254, 233, 178);
$color4: rgb(176, 222, 254);



// * {
//     outline: 1px solid blue;
//     font-family: "Poppins";
// }

body {
    padding: 0%;
    margin: 0%;
}

.navbar {
    z-index: 100;
    height: auto;
    font: normal normal 500 1rem/1.2rem Poppins;
    #brandlogo {
        width: 40px;
    }
    .nav-link {
        color: white !important;
        border-radius: 4px;
        margin-left: 10px;
        &:hover {
            background-color: $red;
            transition: background-color 300ms linear;
        }
    }
}

.heading {
    font: normal normal 700 2.5rem/3rem Poppins;
    text-align: center;
}

.sub-heading {
    font: normal normal 600 1.5rem/2rem Poppins;
}

.normal-text {
    font: normal normal 500 1rem/1.2rem Poppins;
}

.color-words {
    color: $blue;
}

button {
    color: white !important;
    background-color: $red !important;
}

.hover-item {
    transition: 0.3s;
    width: 230px;
}
.hover-item:hover {
    transform: translate(0, -10px);
}

// .fixed-top.scrolled {
//     background-color: rgba(112, 112, 112, 0.9) !important;
//     transition: background-color 200ms linear;
//     opacity: 1;
// }

@media (max-width: 992px) {
    .mobileMenu {
        z-index: 99;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transform: translateX(-100%);
        transition: all ease 0.25s;
        &.onRight {
            left: auto;
            right: 0;
            transform: translateX(100%);
        }

        &.open {
            transform: translateX(0);
        }
    }
    .overlay {
        z-index: 98;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        &.open {
            display: block;
        }
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#section_1 {
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    #text-col {
        display: flex;
        flex-direction: column;
    }
    #video_player {
        width: 100%;
        max-width: 600px;
    }
    .heading {
        gap: 3em;
        font: normal normal 800 2.5rem/3rem Poppins;
    }
    .card {
        border-radius: 0 20px 20px 0;
        border: none;
        width: 220px;
        max-height: 140px;
    }
    .card-body {
        padding: 20px 0px;
    }
    .card-img {
        max-width: 60px;
        min-width: 50px;
    }
    .card-text {
        text-align: center;
        color: $grey;
        font: normal normal 600 1rem/1.2rem Poppins;
        min-width: 8em;
    }
}

#section_2 {
    .card {
        min-width: 200px;
        border: none;
    }
    #text-col {
        display: flex;
        flex-direction: column;
    }
    #image-1 {
        width: 100%;
        max-width: 470px;
    }
    .card-img {
        max-width: 80px;
        min-width: 55px;
    }
    #row_circle {
        #text {
            font: normal normal 600 2rem Poppins;
        }
        .card {
            border: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            .card-img-top {
                align-self: center;
            }
        }
        .card-body {
            padding: 0px;
            text-align: center;
            .card-title {
                margin: 0px;
                color: $blue;
                font: normal normal 600 1rem Poppins;
            }
        }
    }
    .circle {
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

#section_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    .card {
        border: none;
    }
    button {
        width: 200px;
    }
    #video_player {
        width: 100%;
        max-width: 600px;
    }
}

#section_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        width: 200px;
    }
    #video_player {
        width: 100%;
        max-width: 600px;
    }
}

#section_5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        width: 200px;
    }
    #video_player {
        width: 100%;
        max-width: 600px;
    }
}

#section_6 {
    img {
        width: 50%;
    }
    .card {
        width: 8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
    }
    .card-body {
        padding: 0px;
        display: flex;
        justify-content: center;
        .card-title {
            margin: 0px;
            color: $blue;
            font: normal normal 600 1rem Poppins;
        }
    }
}

#section_7 {
    img {
        width: 50%;
    }
    .card {
        width: 8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
    }
    .card-body {
        padding: 0px;
        display: flex;
        justify-content: center;
        .card-title {
            margin: 0px;
            color: $blue;
            font: normal normal 600 1rem Poppins;
        }
    }
}

#section_8 {
    img {
        width: 50%;
    }
    .card {
        width: 10em;
        border: none;
        img {
            align-self: center;
        }
    }
    .card-body {
        padding: 0px;
        text-align: center;
        .card-title {
            margin: 0px;
            color: $blue;
            font: normal normal 600 1rem Poppins;
        }
    }
}

#section_9 {
    #cover_card {
        border: none;
    }
    #image_bg {
        display: flex;
        align-items: center;
        max-width: 200px;
    }
    #inner_card {
        border: none;
        .card-title {
            color: $blue;
            font: normal normal 800 20px Poppins;
            margin: none;
        }
        .card-text {
            color: $blue;
            font: normal normal 500 15px Poppins;
            margin: none;
        }
    }
    .circle {
        position: relative;
        height: 90%;
        overflow: hidden;
        border-radius: 50%;
        background-color: black;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

#section_10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        width: 250px;
    }
    #video_player {
        width: 100%;
        max-width: 600px;
    }
    #cover_card {
        border: none;
    }
    #image_bg {
        display: flex;
        align-items: center;
        max-width: 200px;
    }
    #inner_card {
        border: none;
        .card-title {
            color: $blue;
            font: normal normal 800 20px Poppins;
            margin: none;
        }
        .card-text {
            color: $blue;
            font: normal normal 500 15px Poppins;
            margin: none;
        }
    }
    .circle {
        position: relative;
        height: 90%;
        overflow: hidden;
        border-radius: 50%;
        background-color: black;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
